.lista {
  font-style: italic;
  position: relative;
  top:10px;
left:25%;
}
.fa-html5 {
  color: rgb(227, 75, 33);
}

.fa-css3-alt {
  color: rgb(0, 118, 188);
}

.fa-js-square {

/*   color: rgb(255, 204, 20); 
*/



  color: rgb(247, 223, 30);

 
  /* margin-left: -10px;
  margin-right: -10px; */

}

.fa-git-square {
    color: rgb(240,80,51);
  }

.fa-bootstrap {
    color: rgb(86, 61, 124);
  }

  .fa-cloud {
    color: rgb(10, 75, 177);

  }

  .fa-square {
    color: rgb(0, 0, 0);


    /* margin-left: -10px;
    margin-right: -10px; */


  }
  
  .fa-mobile-alt {
    color: rgb(54, 52, 214);
  }

  /* .fa-circle {
    color: rgb(108, 66, 156);
  } */

  .fa-desktop{
      color: rgb(94, 189, 53);
  }

  .fa-file-code{
    color: rgb(0, 170, 195);
}

.fa-android{
    color: rgb(164, 198, 57);
}

.fa-file-alt{
    color: rgb(73, 78, 88);
}

  i {
    margin-left: 2px;
    margin-right: 2px;
  }

  li{
    /* position: relative;
left:25%; */
  }